* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: green;
}

.car {
  width: 10%;
  position: absolute;
  height: auto;
  top: 0;
  left: 0;
}

.north {
  transform: rotate(270deg);
  animation-duration: 3s;
  width: 10%;
}

.south {
  transform: rotate(90deg);
  animation-duration: 3s;
  width: 10%;
}

.east {
  transform: rotate(0deg);
  animation-duration: 3s;
  width: 10%;
}

.west {
  transform: rotate(180deg);
  animation-duration: 3s;
  width: 10%;
}

#screen-log {
  margin-top: 20%;
}
